// Figma colors:
$yellow: #f7d488;
$gray: #838383;
$dark-gray: #444444;
$light-gray: #f4f4f4;
$orange: #e67e22;
$green: #32b796;

$main: #1e2749;
$second: #119da4;
$seconddarker: #108f96;
$redlighter: #c92c4b;
$red: #a5243d;
$reddarker: #7b1b2e;
$blackish: #30343f;
$black: #0e0f12;
$white: #f9f8f8;
$whiteish: #a6a7a8;
$whiter: #fff;
