// Define variables for your color scheme

// Figma colors:
$blue: #4186E5;
$purple: #845FCE;
$white: #F9F8F8;
$yellow: #F7D488;
$gradient: linear-gradient(125deg, #845FCE 10%, #4186E5 90%);


$gray: #838383;
$dark-gray: #444444;
$light-gray: #f4f4f4;

$light-green: #86e3c8;
$darker-green: #79c5af;

$pink: #F2545B;
$darker-pink: #D2575D;


$red: #ee5f5b;
$orange: #e67e22;
$green: #32b796;




