// Define variables for your color scheme


// Figma colors:
$blue: #6A68D9;
$gray: #D8DADC;
$light-green: #86E3C8;
$darker-green: #7ACEB5;



$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

$light-gray: #F4F4F4;
