<button id="add-city" style="color:black">test add city</button>

<div class="container">

    <div class="container", style="height: 100px">
      <div class="circle"></div>
    </div>

    <div class="container", style="height: 100px">
      <div class="circle"></div>
    </div>

    <div class="container", style="height: 100px">
      <div class="circle"></div>
    </div>

    <div class="container", style="height: 50px">
      <div id="last-circle"></div>
    </div>

</div>

<%= javascript_pack_tag 'map_circle' %>
