<% @listings.each do |listing| %>
    <%= listing.stop.city %>
<%end%>

<% @listings.each do |listing| %>
    <p data-toggle="modal" data-target="#model-item-id-<%= listing.item.id %>"><%= listing.item.name %></p>
    <%= render partial: 'shared/index_modal', locals: { item: listing.item } %>
<%end%>


