<% @listings.each do |t| %>
    <%= t.stop.city %>
<%end%>

<% @listings.each do |t| %>
    <p data-toggle="modal" data-target="#model-item-id-<%= t.item.id %>"><%= t.item.name %></p>
    <%= render partial: 'shared/index_modal', locals: { item: t.item } %>
<%end%>


