<div class="container">
    <div class="new-item">
        <div class="col-one">
            Share your item with <div class="new-item-title">Travely</div>
        </div>
        <div class="col-two">
          <div class ="form-item">
            <%= render 'form_item' %>
          </div>
            <div>
                <%= link_to root_path, method: :get do %>
                    <span><i class="fas fa-arrow-left"> Back</i></span>
                <% end %>
            </div>
        </div>
    </div>
</div>
