li {
  color: black;
}

.my-itinerary {
  position: relative;
  height: 50px;
  margin: 32px 0;
  color: $second;
  .circle {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.none {
  color: $blackish;
}
