.home-background {
  color: $gray;
  height: calc(100vh - 70px);
  background-size: cover !important;
  background-position: 100% 100%;
  display: flex;
  align-items: center;
  position: relative;

  #form {
    // position:absolute;
    top: 20%;
    width: 1000px;
  }

  h1 {
    position: absolute;
    left: 10%;
    top: 2%;
  }
}

.trip-field {
  margin: 0;
  display: flex;

  // grid-template-columns: 300px 1fr 1fr;
  // grid-template-rows: 50% 50% ;
  // height: 70vh;
}

.trip-fields {
  max-width: 1400px;
  min-width: 400px;
}

.container {
  #add-city {
    cursor: pointer;
    text-align: left;
    &:hover {
      color: #a6a7a8;
    }
  }
}

.padding-top{
  padding-top: 100px;
}

.home-title {
  margin-top: 100px;
  margin-left: 80px;
  color: $blue;
  font-size: 50px;
  font-weight: 500;
h1 {
  display: inline;
  color: $dark-gray;
  font-size: 35px;
  font-weight: 400;
 }
}

.home-form-title {
  padding-top: 30px;
  padding-bottom: 20px;
  color: $gray;
  font-size: 23px;
}

.home-button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ap-nostyle-input-icon, .ap-nostyle-icon-pin {
  visibility: hidden;
}

.algolia-places {
  width: 31% !important;
}

.algolia-input {
 width: 98.5% !important;
}

