.banner {
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.banner-content-home {
  position: absolute;
  top: 60px;
  left: 120px;
  h1,
  h2,
  h3 {
    padding-bottom: 20px;
    color: white;
    text-align: left;
  }
}

#logo-home {
  height: 200px;
  width: 170px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 8vh;
  right: 8vh;
}

// form signed out
.trip-field {
  margin: 0;
  display: flex;
}

.trip-fields {
  max-width: 1400px;
  min-width: 400px;
}

.container {
  padding-bottom: 8vh;
  #add-city {
    cursor: pointer;
    text-align: left;
    &:hover {
      color: $whiteish;
    }
  }
}

.home-form-title {
  padding-top: 30px;
  padding-bottom: 20px;
  color: $gray;
  font-size: 23px;
}

.home-button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ap-nostyle-input-icon,
.ap-nostyle-icon-pin {
  visibility: hidden;
}

.algolia-places {
  width: 31% !important;
}

.algolia-input {
  width: 98.5% !important;
}

// form when signed in
.signed-in-container {
  position: absolute;
  top: 45vh;
  right: 30vh;
  color: $white;
  .sim-form .focus-label .nested-label {
    color: $white;
  }
}

.line-home {
  margin-top: 90px;
  background: $main;
  height: 3px;
  width: 1128px;
}

@media (min-width: 992px) {
  .signed-in-container {
    position: absolute;
    top: 47vh;
    right: 15vh;
    left: 9vh;
    color: $white;
  }
  #logo-home {
    height: 180px;
    width: 150px;
    position: absolute;
    bottom: 7vh;
    right: 8vh;
  }
}
