<div class="footer">
    <div class="external-links">
        <a href="https://github.com/whatTheDuck101" target="_blank">
            <i class="fab fa-github-square" ></i>
        </a>
        <a href="https://www.linkedin.com/in/elizabeth-creary-766b42131/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <div class="awknowledgement">
        <p class="ui-designer">UI designed by <em>WhatTheDuck101</em></p>
        <p>Created by Team Travely Batch#188 Le Wagon. Group design: <a href="http://www.travely.club/" target="_blank">Travely.club</a></p>
        <p>Icons made by <a href="https://www.flaticon.com/authors/franco-averta" title="Franco Averta" target="_blank">Franco Averta</a> 
        from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> 
        is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" target="_blank">CC 3.0 BY</a>
        </p>
        <p>Banner Photo by STIL on Unsplash & Card photos by various Upsplash artists </p>
    </div>
</div>
