function confirmRequest() {
  var requestButton = document.getElementById(`<%= @request.listing.item.id %>`);
  var confirmationElement = `<div id="request-confirmation"><p style="color:#6a68d9"><strong>Request Sent!</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"></button></p></div>`;

  requestButton.insertAdjacentHTML('beforebegin', confirmationElement);
  requestButton.remove()
}



<% if @request.errors.any? %>
  console.log("error")
<% else %>
  confirmRequest()
<% end %>



