function acceptRequest() {
  <% listing_id = @request.listing.id %>
  <% request_id = @request.id %>

  const requestButton = document.querySelector(`a[href='/listings/${<%=listing_id%>}/requests/${<%=request_id%>}?value=accepted']`);
  const declineButton = document.querySelector(`a[href='/listings/${<%=listing_id%>}/requests/${<%=request_id%>}?value=denied']`);
  const navBar = document.querySelector('.navbar-wagon');

    <% if @request.status === "accepted" %>
      confirmationElement = `<p><em>You have accepted this request!</em> </p>`
    <% else %>
      confirmationElement = `<p><em>You have denied this request!</em> </p>`
    <% end %>
  var alert = document.querySelector(".alert")
  if (alert) {
    alert.remove()
  }
  requestButton.insertAdjacentHTML('beforebegin', confirmationElement);
  document.documentElement.scrollTop = 0;
  declineButton.remove()
  requestButton.remove()
}


<% if @request.errors.any? %>
  console.log("error")
<% else %>
  acceptRequest()
<% end %>



