function acceptRequest() {
  <% listing_id = @request.listing.id %>
  <% request_id = @request.id %>

  const requestButton = document.querySelector(`a[href='/listings/${<%=listing_id%>}/requests/${<%=request_id%>}?value=accepted']`);
  const declineButton = document.querySelector(`a[href='/listings/${<%=listing_id%>}/requests/${<%=request_id%>}?value=denied']`);
  const navBar = document.querySelector('.navbar-wagon');
  confirmationElement = `<p class="alert alert-info alert-dismissible">You have accepted this request! </p>`
  navBar.insertAdjacentHTML('afterend', confirmationElement);
  document.documentElement.scrollTop = 0;
  declineButton.remove()
  requestButton.remove()
}


<% if @request.errors.any? %>
  console.log("error")
<% else %>
  acceptRequest()
<% end %>



