<div class="home-information home-information-signed-in">
    <div class="step">
        <div class="text">
            <h3>Step 1</h3>
            <h5><%= link_to  "Sign up ", new_user_registration_path %></h5>
            <h5><%= link_to  "Sign in",  user_session_path %></h5>
        </div>
    </div>
    <div class="step">
        <div class="text">
            <h3>Step 2: Add City</h3>
            <h5>Add the cities you're stopping in</h5>
            <h5>*first city stop must be filled out*</h5>
        </div>
    </div>
    <div class="step">
        <div class="text">
            <h3>Step 3: Search || Share</h3>
            <h5>Search for items by city</h5>
            <h5>Share items by city</h5>
        </div>
    </div>
</div>