<div class="home-information">
    <div class="step">
        <div class="text">
            <h3>Step 1</h3>
            <p><%= link_to  "Sign up ", new_user_registration_path %></p>
            <p><%= link_to  "Sign in",  user_session_path %></p>
        </div>
    </div>
    <div class="step">
        <div class="text">
            <h3>Step 2: Add City</h3>
            <p>Add the cities you're stopping in</p>
            <p>*first city stop must be filled out*</p>
        </div>
    </div>
    <div class="step">
        <div class="text">
            <h3>Step 3: Search || Share</h3>
            <p>Search for items by city</p>
            <p>Share items by city</p>
        </div>
    </div>
</div>