var navbar = document.querySelector(".navbar-wagon");
var tab = document.querySelector(".tablinks");
var itemQty = tab.innerText.split(")")[0].slice(1) - 1;
var alert = document.querySelector(".alert")
if (alert) {
  alert.remove()
}
document.getElementById(`item-${<%=@item_id%>}`).remove();
tab.innerText = `(${itemQty}) Shared Items`
navbar.insertAdjacentHTML('afterend', '<div class="alert alert-info alert-dismissible">Item was successfully deleted<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>');
document.body.scrollTop = 0; // For Safari
document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
