<div class="new-item">
    <div class="col-one">
        <h1>Share your item with <strong>Travely</strong></h1>
        <div id="logo-new" style="background-image: url('<%= image_path 'luggage.png' %>');"></div>
    </div>
    <div class="col-two">
        <%= render 'form_item' %>
        <div>
            <% link_to root_path, method: :get do %>
                <span><i class="fas fa-arrow-left"> Back</i></span>
            <% end %>
        </div>
    </div>
</div>
