//home screen
#submit-button {
  padding-top: 10px;
  margin: 0 30px 0 30px;
}

.btn-lightgreen {
  color: #fff;
  background-color: $light-green;
  border-color: $darker-green;

}

.btn-lightgreen:hover {
  background-color: $darker-green;
  color: #fff;
}

.btn {
  margin: 0 18px 0 18px;
  width: 130px !important;
}
