.search-button {
  padding: 8px 16px;
  margin: 15px 20px 0 0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  background: $second;
  border-color: $second;
  color: $white;
  text-decoration: none;
}
#submit-item,
.share-button {
  padding: 8px 16px;
  margin: 15px 20px 0 0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  background: $white;
  border-color: $second;
  color: $second;
  text-decoration: none;
}
.registration-button {
  color: $white;
  background-color: $second;
  border-color: $second;
  margin-bottom: 13px;
  text-align: center;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857;
  border-radius: 2px;

  &:hover {
    color: $blackish;
  }
}
.delete-button {
  border: 4px solid $red;
  border-radius: 4px;
  padding: 6px 12px;
  background: $white;
  color: $red;
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  top: -5px;
  right: 8px;
  &:hover {
    color: $main;
  }
}
.want-button {
  margin: 0;
  padding: 6px 12px;
  border: 2px solid $second;
  background: $white;
  border-radius: 4px;
  color: $second;
  &:hover {
    color: $white;
    border: 2px solid $second;
    background: $second;
  }
}
