.dashboard-tabs {
  background: $purple;
  width: 100%;
  display: flex;
  border-radius: 3px;
}

.dashboard-tab {
  flex-grow: 1;
  flex-basis: auto;
  height: 100%;
}

.dashboard-tab {
  background-color: transparent;
  color: white;
  // float: left;
  // border: none;
  // outline: none;
  cursor: pointer;
  padding: 10px;
  // margin-bottom: 10px;
  transition: 0.3s;
  border: 1px solid transparent;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
  //   0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* Change background color of buttons on hover */
.dashboard-tab:hover {
  background: white !important;
  color: $purple !important;
}

/* Create an active/current tablink class */
.dashboard-tab.active {
  background: white !important;
  color: $purple !important;
}

.tabcontents {
  padding-top: 40px;
}
