.dashboard-tabs {
  background: $whiter;
  width: 100%;
  display: flex;
  border-radius: 3px;
  color: $second;
}
.dashboard-tab {
  flex-grow: 1;
  flex-basis: auto;
  height: 100%;
}
.dashboard-tab {
  background-color: transparent;
  color: $second;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  border: 1px solid transparent;
}
/* Change background color of buttons on hover */
.dashboard-tab:hover {
  background: $second !important;
  color: $whiter !important;
}
/* Create an active/current tablink class */
.dashboard-tab.active {
  background: $second !important;
  color: $whiter !important;
}
.tabcontents {
  padding-top: 40px;
}
