.new-item {
  margin: 10% 15%;
  display: grid;
  grid-template-columns: 40% auto;
}

.col-one {
  background: $second;
  color: $white;
  padding: 40px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.1);
  position: relative;

  h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 50px;
    right: 50px;
    left: 50px;
  }
  #logo-new {
    height: 400px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
  }
}

// .new-item-title {
//   display: inline;
//   color: $blue;
//   font-size: 50px;
//   font-weight: bold;
// }

.col-two {
  background: $white;
  color: $black;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.1);
}

.form-control-label {
  color: $blackish;
}

.form-control {
  border-width: 2px;
  border-radius: 4px;
  border-color: $second;
  color: $blackish;
}
.form-control:focus {
  border-color: $main;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 2px rgba(102, 175, 233, 0.6);
}

.new_item label {
  color: $black;
  font-weight: 400;
}

#item_photo {
  font-size: 16px;
  color: $blackish;
}

// #submit-item {
//   margin: 0 0 4% 0;
// }

// .form-item {
//   padding: 40px 60px;
// }

// .form-actions {
//   padding-top: 20px;
//   display: flex;
//   justify-content: center;
// }
