.new-item {
  margin: 10% 15%;
  display: grid;
  grid-template-columns: 40% auto;
}

.col-one {
  background: $blue;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.1);
}

.col-one h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

.new-item-title {
  display: inline;
  color: $blue;
  font-size: 50px;
  font-weight: bold;
}

.col-two {
  background: $white;
  color: black;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.1);
}

#submit-item {
  margin: 0 0 4% 0;
}

.form-item {
  padding: 40px 60px;
}

.form-actions {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.form-control-label {
  color: $dark-gray;
}

.form-control {
  border-width: 2px;
  border-radius: 4px;
  border-top-color: $blue;
  border-bottom-color: $blue;
  border-left-color: $blue;
  border-right-color: $blue;
}

.new_item label {
  color: $dark-gray;
  font-weight: 400;
}

#item_photo {
  font-size: 16px;
  color: $light-gray;
}
