
.sim-form {
  // float: left;
  > div {
    position: relative;
    overflow: hidden;
  }
  .nested-input {
    height: 45px;
    width: 31%;
    border-color: #6a68d9;
    border-width: 1px;
    border-radius: 4px;
    color: #3D4E61;
    background: white;
    z-index: 1;
    padding: 8px 12px;
    margin: 5px 3px;
    outline: 0;
    &:focus {
      border-color: #6a68d9;
      border-width: 2px;

    }
  }


    #city {

  }

    #date {

  }

  .focus-label {
    margin: 0;
    width: calc(31% + 7px);
  }

    #form {
    // position:absolute;
    left: 13%;
    top: 20%;
    width: 1000px;
  }

}



.highlight-field {
  color: #6a68d9;
  text-transform: uppercase;
  font-size: 65%;
}

.hidden-x {
  visibility: hidden;
}

.delete-city {
  background-color: rgba(10,23,55,0);
  border-color: rgba(10,23,55,0);
}
