
.sim-form {
  float: left;
  // margin: 20px;
  > div {
    position: relative;
    overflow: hidden;
  }
  .nested-input {
    //margins
    height: 45px;
    width: 100%;
    border: 2px solid gray;
    background: none;
    // position: relative;
    // top: 0;
    // left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
    // &:valid {
    //   // Hides the label
    //   background: white;
    // }
    &:focus {
      border-color: #979696;
    }
  }

  .nested-label {
    transition: // not padding
      background 0.2s,
      color 0.2s,
      top 0.2s,
      bottom 0.2s,
      right 0.2s,
      left 0.2s;
    // margin-top: 10px;
    padding: 3px 2px;
    font-size: 16px;
  }
}



.highlight-field {
  color: white;
  text-transform: uppercase;
  font-size: 70%;
}

.delete-city {


}
