.card {
  width: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  background: #ffffff;
}

.card:hover {
  background: rgba(180, 180, 180, 0.226);
}

.card-img-top {
  background-position: center center;
  background-size: cover;
  height: 12em;
  border-radius: 1px 1px 0 0;
}

a:hover {
  text-decoration: none;
}

.card-text.name {
  margin: 2% 5% 2% 5%;
  color: $blue;
}

.card-text.location {
  margin: 0 5%;
  font-size: 0.85em;
  color: #898989;
}
.card-text.description {
  margin: 0 5% 2% 5%;
  font-size: 0.85em;
  color: #898989;
}

.card-text.details {
  margin: 0 5%;
  font-size: 0.85em;
  color: $blue;
}

/* Rectangle 2.1 */
