a:hover {
  text-decoration: none !important;
}

.card {
  box-shadow: 0 0 15px rgba(100, 100, 100, 0.1);
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  transition: all 100ms ease;
}

.card:hover {
  text-decoration: none;
  // transform: translateY(-4px);
}

.card-img-top {
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 3px 3px 0 0;
  padding: 15px;
  display: flex;
  align-items: flex-end;
}
// a:hover {
//   text-decoration: none;
//   color: rgba(226, 226, 226, 2);
// }


.card-text.name {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 0;
  font-weight: 500;
}




.card-text.location {
  font-size: 0.7em;
  color: #898989;
}
.card-text.description {
  font-size: 0.8em;
  color: #898989;
}
.card-text.details {
  font-size: 0.85em;
  color: $blue;
}
.card-text.request {
  .yours {
    width: 62px;
    color: $red;
    font-size: 0.75em;
  }
  .sent {
    width: 109px;
    border-radius: 10px;
    color: $red;
    font-size: 0.75em;
  }
  .taken {
    width: 109px;
    color: $red;
    font-size: 0.75em;
  }
  #send {
    border: 0.03px solid $red;
    border-radius: 10px;
    background: $red;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
  }
}

.delete {
  position: absolute;
  margin: -22em 0px 0 15em;
  border: 0.03px solid #ee5f5b;
  border-radius: 10px;
  background: #ee5f5b;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
}
