a:hover {
  text-decoration: none !important;
}

.itinerary {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
}

.item-list {
  padding-top: 60px;
}
.card {
  box-shadow: 0 0 15px rgba(100, 100, 100, 0.1);
  border-radius: 3px;
  background: $whiter;
  cursor: pointer;
  transition: all 100ms ease;
  margin-bottom: 15px;
}

.card-index {
  &:hover {
    background-color: $second;
    .index-name {
      color: $white;
    }
  }
}

.card-img-top {
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: flex-end;
}
.card-text.name {
  color: $second;
  font-size: 18px;
  text-decoration: none;
  margin: 0;
  font-weight: 500;
  padding: 10px 5% 0 5%;
  .index-name {
    padding-bottom: 10px;
  }
}
.card-text.location {
  font-size: 0.7em;
  color: #898989;
  // padding-left: 5%;
  padding-bottom: 15px;
  padding-left: 5%;
}

.card-text.request {
  .yours {
    width: 62px;
    color: $red;
    font-size: 0.75em;
  }
  .sent {
    width: 109px;
    border-radius: 10px;
    color: $red;
    font-size: 0.75em;
  }
  .taken {
    width: 109px;
    color: $red;
    font-size: 0.75em;
  }
  #send {
    border: 0.03px solid $red;
    border-radius: 10px;
    background: $red;
    color: $whiter;
    font-size: 0.75em;
    font-weight: bold;
  }
}
