 .modal-content {
 color: black;
 padding: 20px;
 border-radius: 10px;
 }

  .modal-header {

 }

  .modal-title {
    color: #6a68d9;
    font-size: 25px;
    font-weight: bold;

 }


 .modal-body {

 }

 .modal-footer {

 }

.body-left {
  padding: 10px;
}
.body-right {
  padding: 50px;

}



