.modal.in .modal-dialog {
  margin-top: 140px;
}
.modal-content {
  color: black;
  position: relative;
  width: 372px;
  border-radius: 9px 9px 7px 7px;
}
.modal-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px 7px 0 0;
}
.modal-information {
  padding: 0 15px;
  .modal-title {
    color: $second;
    padding-top: 10px;
  }
  h6 {
    color: $gray;
    padding: 5px 0;
  }
  p {
    margin: 5px 0;
  }
}
.owner-adv {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-size: contain;
  position: relative;
  padding-bottom: 10px;
  p {
    position: absolute;
    left: 45px;
    top: 25%;
    margin: 0 0 3px 0;
  }
}
.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-footer {
  margin-top: 10px;
  h6 {
    color: $second;
  }
  p {
    color: $gray;
  }
}
button.close.modal-close {
  padding: 0 100% 0 0;
  font-size: 6em;
}
