.offers-card {
  width: 710px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  background: $whiter;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
.offers-card-banner {
  background-position: center center;
  background-size: cover;
  height: 170px;
  position: relative;
}
.banner-content {
  h2 {
    position: absolute;
    top: 16px;
    left: 306px;
    color: $whiter;
  }
}
.image-match-avt {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-size: contain;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100px;
}
.item-photo-match {
  left: 234px;
  border: 4px solid $white;
}
.user-photo-match {
  right: 234px;
  border: 4px solid $second;
}
.offers-card-content.description {
  text-align: center;
  margin: 90px 20px 0 20px;
  font-size: 1.2em;
  .text {
    color: $gray;
  }
  .text-var {
    color: $blackish;
  }
}
.offers-card-content.dates {
  text-align: center;
  margin: 50px 20px 40px 20px;
  font-size: 1em;
  color: $gray;
  .text {
    color: $gray;
  }
  .text-var {
    color: $second;
    font-size: 1.2em;
  }
}
.line {
  border: 1.5px solid $white;
}
.offer-card-footer {
  padding: 20px 0;
}
.request-card-actions.offers-card-content {
  text-align: center;
  .status {
    color: $second;
  }
  p {
    padding-bottom: 10px;
  }
}
