.card-request {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: $whiter;
  margin-bottom: 20px;
}
.card-request-content.header {
  position: relative;
  height: 3em;
  h6 {
    color: $main;
    position: absolute;
    top: 7px;
    left: 59px;
  }
  .user {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 9px;
  }
  .user-name {
    font-size: 0.7em;
    color: $black;
    position: absolute;
    top: 2.3em;
    left: 59px;
  }
}
.request-card-content-img {
  height: 14em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.request-card-content.status {
  margin: 0 5%;
  padding: 0;
  text-align: center;
  .text {
    color: $gray;
    font-size: 0.7em;
    margin: 10px 0 4px 0;
  }
  .date-create {
    color: $gray;
    font-size: 0.7em;
    margin: 4px 0;
  }
  .request-card-actions {
    color: $redlighter;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .accepted {
    color: $second;
  }
}
.empty-space {
  height: 1.2em;
}
