.map-container {
  width: 200px;
}
.circle {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 50px;
  border: 2px solid $second;
  background-color: $whiter;
  z-index: 1;
}
.circle-dash {
  background-color: $second;
}
.itinerary-bar {
  width: 5px;
  position: absolute;
  top: 111px;
  bottom: 55px;
  left: 21.8%;
  background: $second;
}
.itinerary-bar-dash {
  width: 5px;
  position: absolute;
  top: 140px;
  bottom: 55px;
  left: 21.9%;
  background: $second;
}
.circle:first-child {
  margin-top: 0;
}
.selected-circle {
  position: relative;
  border: 2px solid $second;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 55px;
  background-color: $second;
  z-index: 1;
}
