.tab {
  height: 100%;
  width: 100%;
  margin: 0;
}
.circle-city-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.city-card {
  background: $whiter;
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.1);
  border-radius: 3px;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 100ms ease;
}
.city-card:hover {
  text-decoration: none;
  transform: translateY(-4px);
  box-shadow: 0 20px 20px rgba(100, 100, 100, 0.1);
}
.city-card.dash:hover {
  text-decoration: none;
  box-shadow: none;
  transform: translateY(0px);
}
.city-adv {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.stop-city {
  margin: 0;
  color: $blackish;
}
.stop-dates {
  color: #898989;
  font-size: 0.8em;
  font-weight: 500;
}
